<div class="main">
   <div class="content">

    <div class="left">
      <div class="title">
       <span class="titre">How much should you be earning?</span>
       <span class="tex"> Get an estimated calculation of how much you should be earning and insight into your career options.</span>
      </div>
      <div class="button">
        <span class="text">Get estimated pay rang</span>
      </div>


   </div>


     <div class="img">
     <img src="assets/images/chart_desktop.svg" width="530" height="190">
    </div>



   </div>
</div>





