.pere{
  width: 50%;
  height: 40rem;
  margin-left: 12rem;
  margin-top: 10rem;
  margin-bottom: 5rem;

}

h2{
  color:rgb(255, 255, 255);
  margin-top: 10rem;
  margin-left: 15rem;

}

.bt{
  margin-left: 17rem;
}
