<div class="main">
<div class="content">



  <span class="title">Find a career you'll love</span>
  <span> Explore which careers have the highest job satisfaction, best salaries, and more </span>

  <div class="actions">

    <div class="what">
      <label for="">What</label>
    <input type="text" placeholder="Nom ">
    </div>

   <div class="where">
    <label for="">Where</label>
    <div >
    <input   placeholder="Prénom">
    </div>
   </div>

    <div >
      <input class="bouton" type="submit">


  </div>


</div>
</div>
</div>
