<div class="main">


    <span class="title">Browse top paying jobs by industry</span>


     <div >

    <select class="in">
      <option value="volvo">choose an industry</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
     </div>


     <div class="all-ticket">
     <div class="content">
     <div class="ticket">

       <div class="g-titre">
      <span class="titre">Front Desk Agent</span>
      <span class="stitre">Average Salary</span>
    </div>

    <div class="prix">
      <span>$35,006 per year</span>
    </div>
  </div>
      <hr class="hr">

      <div class="bas-ticket">
        <span>Skills</span>
        <span>Job Openings</span>
      </div>
     </div>


     <div class="content">
      <div class="ticket">

        <div class="g-titre">
       <span class="titre">Front Desk Agent</span>
       <span class="stitre">Average Salary</span>
     </div>

     <div class="prix">
       <span>$35,006 per year</span>
     </div>
   </div>
       <hr class="hr">

       <div class="bas-ticket">
         <span>Skills</span>
         <span>Job Openings</span>
       </div>
      </div>

      <div class="content">
        <div class="ticket">

          <div class="g-titre">
         <span class="titre">Front Desk Agent</span>
         <span class="stitre">Average Salary</span>
       </div>

       <div class="prix">
         <span>$35,006 per year</span>
       </div>
     </div>
         <hr class="hr">

         <div class="bas-ticket">
           <span>Skills</span>
           <span>Job Openings</span>
         </div>
        </div>

        <div class="content">
          <div class="ticket">

            <div class="g-titre">
           <span class="titre">Front Desk Agent</span>
           <span class="stitre">Average Salary</span>
         </div>

         <div class="prix">
           <span>$35,006 per year</span>
         </div>
       </div>
           <hr class="hr">

           <div class="bas-ticket">
             <span>Skills</span>
             <span>Job Openings</span>
           </div>
          </div>



      </div>


      <div class="all-ticket">
        <div class="content">
        <div class="ticket">

          <div class="g-titre">
         <span class="titre">Front Desk Agent</span>
         <span class="stitre">Average Salary</span>
       </div>

       <div class="prix">
         <span>$35,006 per year</span>
       </div>
     </div>
         <hr class="hr">

         <div class="bas-ticket">
           <span>Skills</span>
           <span>Job Openings</span>
         </div>
        </div>


        <div class="content">
         <div class="ticket">

           <div class="g-titre">
          <span class="titre">Front Desk Agent</span>
          <span class="stitre">Average Salary</span>
        </div>

        <div class="prix">
          <span>$35,006 per year</span>
        </div>
      </div>
          <hr class="hr">

          <div class="bas-ticket">
            <span>Skills</span>
            <span>Job Openings</span>
          </div>
         </div>

         <div class="content">
           <div class="ticket">

             <div class="g-titre">
            <span class="titre">Front Desk Agent</span>
            <span class="stitre">Average Salary</span>
          </div>

          <div class="prix">
            <span>$35,006 per year</span>
          </div>
        </div>
            <hr class="hr">

            <div class="bas-ticket">
              <span>Skills</span>
              <span>Job Openings</span>
            </div>
           </div>

           <div class="content">
             <div class="ticket">

               <div class="g-titre">
              <span class="titre">Front Desk Agent</span>
              <span class="stitre">Average Salary</span>
            </div>

            <div class="prix">
              <span>$35,006 per year</span>
            </div>
          </div>
              <hr class="hr">

              <div class="bas-ticket">
                <span>Skills</span>
                <span>Job Openings</span>
              </div>
             </div>



         </div>

</div>


