<div class="main">


  <span class="title">Browse top paying companies by industry</span>


   <div >

  <select class="in">
    <option value="volvo">choose an industry</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
   </div>


   <div class="all-ticket">
    <div class="content">
      <div class="img">
        <div class="font"> <img width="63" height="60"
          src="./assets/images/tik2.jpg"> </div>
      </div>
      <div class="ticket">
        <div class="g-titre">
       <span class="titre">MC Donald's</span>
       <span class="stitre">196.7K reviews</span>
     </div>

   </div>
   <div class="triangle"></div>

      </div>


   <div class="content">
    <div class="img">
      <div class="font"> <img width="63" height="60"
        src="./assets/images/tik1.jpg"> </div>
    </div>
    <div class="ticket">
      <div class="g-titre">
     <span class="titre">Costco Wholsale</span>
     <span class="stitre">12.3K reviews</span>
   </div>

 </div>
 <div class="triangle"></div>
    </div>

    <div class="content">
      <div class="img">
        <div class="font"> <img width="63" height="60"
          src="./assets/images/tik3.jpg"> </div>
      </div>
      <div class="ticket">
        <div class="g-titre">
       <span class="titre">StarBucks</span>
       <span class="stitre">47K reviews</span>
     </div>

   </div>
   <div class="triangle"></div>
      </div>
    </div>

    <div class="all-ticket">

     <div class="content">
      <div class="img">
        <div class="font"> <img width="63" height="60"
          src="./assets/images/tik1.jpg"> </div>
      </div>
      <div class="ticket">
        <div class="g-titre">
       <span class="titre">Costco Wholsale</span>
       <span class="stitre">12.3K reviews</span>
     </div>

   </div>
   <div class="triangle"></div>
      </div>



      <div class="content">
        <div class="img">
          <div class="font"> <img width="63" height="60"
            src="./assets/images/tik3.jpg"> </div>
        </div>
        <div class="ticket">
          <div class="g-titre">
         <span class="titre">StarBucks</span>
         <span class="stitre">47K reviews</span>
       </div>

     </div>
     <div class="triangle"></div>
        </div>

        <div class="content">
          <div class="img">
            <div class="font"> <img width="63" height="60"
              src="./assets/images/tik2.jpg"> </div>
          </div>
          <div class="ticket">
            <div class="g-titre">
           <span class="titre">MC Donald's</span>
           <span class="stitre">196.7K reviews</span>
         </div>

       </div>
       <div class="triangle"></div>

          </div>

      </div>

      <div class="all-ticket">
        <div class="content">
          <div class="img">
            <div class="font"> <img width="63" height="60"
              src="./assets/images/tik2.jpg"> </div>
          </div>
          <div class="ticket">
            <div class="g-titre">
           <span class="titre">MC Donald's</span>
           <span class="stitre">196.7K reviews</span>
         </div>

       </div>
       <div class="triangle"></div>

          </div>


       <div class="content">
        <div class="img">
          <div class="font"> <img width="63" height="60"
            src="./assets/images/tik1.jpg"> </div>
        </div>
        <div class="ticket">
          <div class="g-titre">
         <span class="titre">Costco Wholsale</span>
         <span class="stitre">12.3K reviews</span>
       </div>

     </div>
     <div class="triangle"></div>
        </div>

        </div>

</div>



